{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{% endblock %} • Vegedex </title>
    <meta name="description" content="A set of tools made for Old School Runescape." />
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}" />
    <!-- Pico.css -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
  </head>

  <body>
    <!-- Nav -->
    <nav id="navbar" class="container-fluid">
      <ul>
        <li>
          <a href="/" class="contrast" ><strong>Vegedex</strong></a>
        </li>
      </ul>
      <ul>
        <li>
        <details role="list" dir="rtl">
          <summary aria-haspopup="listbox" role="link" class="secondary">Account</summary>
          <ul role="menu">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </details>
        </li>
      </ul>
    </nav>
    <!-- ./ Nav -->
  <main class="container center">
    {% block content %}{% endblock %}
  </main>
  </body>

<footer>
    <div class="">
      <span class="">© 2023 <a href="https://www.Vegedex.app/" class="hover:underline">Vegedex™</a>. All Rights Reserved.</span>
    </div>
    <div>
        <ul>
            <li><a href="https://discord.gg/34PBC433n9" class="">Discord</a></li>
            <li><a href="https://github.com/WokeVegan/vegedex" class="">Github</a></li>
            <li><a href="mailto:contact@vegedex.app?subject=Vegedex%20support" class="hover:underline">Contact</a></li>
        </ul>
    </div>
</footer>

</html>